/* header-title */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    
}

.logo img{
width: 25%;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding:0 2rem;
}
nav ul li a{
    text-decoration: none;
color: black;
}


/* content1 */

.content1{
    background: url('images/bg1.jpg')no-repeat center center/cover;
   padding: 10rem;
    }


/* content2 */

.content2{
    border-left: 2px solid black;
margin:  2rem 10rem;
   
}
.content2 p{
    text-align: center;
}
