/* header-title */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    
}

.logo img{
width: 25%;
}
.logo img:hover{
    width: 30%;
    cursor: pointer;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding:0 2rem;
}
nav ul li a{
    text-decoration: none;

color: black;
}


/* content1 */

/* .content1{
    background: url('images/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   padding: 25rem;
    } */


/* content2 */

.content2{
    border-left: 2px solid black;
margin:  2rem 10rem;
   
}
.content2 p{
    text-align: center;
}



/* cards */
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card {
    margin: 100px 20px;
    padding: 40px 0;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}
.card .image {
    border:0.5rem solid #000;
    display: flex;
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.card .title {
    font-size: 36px;
}
.card .text {
    font-size: 16px;
}
.hover {
    top: 0;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.hover:hover {
    box-shadow: 0 20px 40px rgba(61, 65, 84, 0.15);
    top: -2px;
}
.line:before {
    content: "";
    display: block;
    height: 5px;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    transition: all 0.2s ease-in-out;
}
.line:hover:before {
    width: 100%;
}


/* content3 */

.content3{
    display: flex;
justify-content: center;
margin: 3rem;
align-items: center;
padding-top: 2rem;
border-top: 2px solid black;
}
.content3 img{
    width: 20%;
    height: 20%;
box-shadow: -5px 0px 16px black;
border-radius: .5rem 0 0 .5rem;
}

form{
    
    display: flex;
    flex-direction: column;
padding:2.6rem 2.2rem;
border-radius: 0 .5rem .5rem 0;
box-shadow: 5px 0px 16px black;
}
form input{
    
        margin: 1rem;
    padding: .5rem 0.5rem;
border: .5px solid black;
}
.msg{
    padding: 2rem .5rem ;
}
form button{
    margin: 0 1rem;
    border: none;
    color: white;
    background-color: black;
    border-radius: .5rem;
}

.content3 .contact h2{
    text-transform: uppercase;
    
}



/* footer-logo */
.flex-center {
    width: 100%;
    min-height: 35vh;
    background: #000;
    padding-right: 4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.icon-3d {
    padding: 10px;
    -webkit-animation: icon3d 200ms 10;
    animation: icon3d 200ms 10;
    color: #fff;
}
.icon-3d:hover {
    -webkit-animation: icon3d 200ms infinite;
    animation: icon3d 200ms infinite;
}
@keyframes icon3d {
    0% {
        text-shadow: 5px 4px rgba(244, 67, 54, 1), -5px -6px rgba(33, 150, 243, 1);
   }
    25% {
        text-shadow: -5px -6px rgba(244, 67, 54, 1), 5px 4px rgba(33, 150, 243, 1);
   }
    50% {
        text-shadow: 5px -4px rgba(244, 67, 54, 1), -8px 4px rgba(33, 150, 243, 1);
   }
    75% {
        text-shadow: -8px -4px rgba(244, 67, 54, 1), -5px -4px rgba(33, 150, 243, 1);
   }
    100% {
        text-shadow: -5px 0 rgba(244, 67, 54, 1), 5px -4px rgba(33, 150, 243, 1);
   }
}

